body {
  margin: 0;
  padding: 0;
  cursor: default;
  text-align: center;
  display: flex;
  justify-content: center;
  background-color: #b6c6d3;
}
.red{
	fill:red;
}
.icon{
	position: absolute;
	bottom: 10px;
	height: 40vh;
	max-height: 100vw;
	overflow: initial;

}

.small{
	font-size: 55px;
}