body {
  margin: 0;
  padding: 0;
  cursor: default;
  text-align: center;
  display: flex;
  justify-content: center;
  background-color: #b6c6d3;
}
.red{
	fill:purple;
}
.icon{
	position: absolute;
	bottom: 10px;
	height: 40vh;
	max-height: 100vw;
	overflow: initial;

}

.small{
	font-size: 5px;
	fill: purple;
	z-index: -1;
	font-family: 'Mali', cursive;
}
.box-bottom{
	z-index: 1;
}